<div class="head">
    <header>
        <h1>Photo App</h1>
        <div class="search-container">
            <input id="search-text" class="search-bar"type="text" placeholder="Search...">
            <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
        </div>
        {{> nav}}
    </header>
</div>
