<div class="log">
    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <legend>User Login Information</legend>
        <input type="text" placeholder="User Name" required name="username"/>
        <br />
        <input type="password" placeholder="Password" required name="password"/>
        <div>
            <a href="/registration"><button type="button">Register</button></a>
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>
